body
{
    background-color:#b0c4de;
}

.line,.bar
{
    display: inline-block;
    margin-top: 10px;

}

#total
{
    margin-left: 480px;
}

#container,#container1
{
    margin: 0 auto;
    margin-top: 40px;
    border: 2px solid lightgrey;
}

button
{

    position: relative;
    background-color: lightsteelblue;
    border: 5px outset aliceblue;
    /*border-radius: 20px;*/
    width: 150px;
    height: 50px;


}

