<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>
  <!--  配置前端控制器-->
  <servlet>
    <servlet-name>mvcweb_springmvcServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!--    参数初始化,设置SpringMVC的配置文件路径-->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:mvcweb_springmvc.xml</param-value>
    </init-param>
    <!--load-on-startup>1</load-on-startup-->
  </servlet>
  <servlet-mapping>
    <servlet-name>mvcweb_springmvcServlet</servlet-name>
    <!--    /表示映射jsp之外的全部请求-->
    <url-pattern>*.action</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.gif</url-pattern>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.swf</url-pattern>
    <url-pattern>*.pdf</url-pattern>
    <url-pattern>*.java</url-pattern>
    <url-pattern>*.class</url-pattern>
    <url-pattern>*.xls</url-pattern>
    <url-pattern>*.xlsx</url-pattern>
    <url-pattern>*.et</url-pattern>
    <url-pattern>*.vm</url-pattern>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

  <!--配置编码过滤器-->
  <filter>
    <filter-name>encode</filter-name>
    <!--底层使用的过滤器-->
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <!--
      (ctrl + alt + 点击上述CharacterEncodingFilter，查看源代码，可以看到需要以下参数)
      private String encoding;
      private boolean forceRequestEncoding;
      private boolean forceResponseEncoding
    -->
    <!-- 向底层过滤器的参数赋值，进行编码的自定义配置 -->
    <init-param>
      <param-name>encoding</param-name>
      <!-- 建议大写，小写有时解析不出来-->
      <param-value>UTF-8</param-value>
    </init-param>
    
    <init-param>
      <param-name>forceResponseEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encode</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
</web-app>